# Markdown: ignore all .md except the docs we maintain by hand
*.md
!README.md
!CHANGES.md
!SECURITY.md

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Copilot files ###
/Copilot/

src/main/resources/TODO Lst
src/main/resources/INTERVIEW PREP
